* {
    box-sizing: border-box;
}

section {
    height: 100%;
}

.background {
    width: 1366px;
    height: 768px;
    background-image: url("../image/background\ 1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.head-logo {
    width: 53px;
    height: 47px;
}

header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    
}

.left-side-head {
    display: flex;
    height: 47px;
}

.text-logo {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3px;
    margin-left: 8px;
   
}

.milan-logo {
    font-size: 29px;
    
    color: #fff;
}

.holidays-logo {
    font-size: 18px;
   
    color: #fff;
}

.right-side-head {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 700; 
    font-size: 18px;  
    
}

.number-head {
    margin-top: 19px;
    
    color: #fff;
}

.mail-head {
    
    color: #fff;
}

p {
     
    font-family: Roboto;
    font-weight: 700; 
    font-size: 18px; 
    color: #fff;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 22px;
    position: relative;
}

.shopping-tours {
position: relative;

}


.sightseeing-tours {
    position: relative;
    left: 61px;
    

}

.food-tours {
    position: relative;
    left: 123px;
    
}

.bars-nightlife {
    position: relative;
    top: 47px;
    
}

.art {
    position: relative;
    left: 64px;
    top: 47px;
}

.walking-tours {
    position: relative;
    left: 130px;
    top: 47px;
}


.shopping {
    position: relative;
    top: 20px;
    left: 86px;
}

.sightseeing {
    position: relative;
    top: 20px;
    left: 86px;
}

.food {
    position: relative;
    top: 20px;
    left: 86px;
}

.bars {
    position: relative;
    top: 20px;
    left: 86px;
}

.architecture {
    position: relative;
    top: 20px;
    left: 86px;
}

.walk {
    position: relative;
    top: 20px;
    left: 86px;
}

.footer {
    font-family: Roboto;
    font-weight: 700; 
    font-size: 12px; 
    color: #fff; 
    position: relative;
    top: 122px;
    display: flex;
    justify-content: center;
}

/* [class^="-head"]:hover {
    color: #;
} */

/* .head-logo:hover + .text-logo:hover {
color: #F26522;    
} */


/* a:hover {
    color: #F26522;
}

.head-logo:hover {
    color: #F26522; 
} */

/* .container:hover {
color: #F26522;
} */

/* header:hover {

    color: #F26522;
} */

p:hover {
    color: #F26522;
}

.background-hover {
    width: 300px;
    height: 55px;
    display: none;
    background-color: #F26522;
    position: absolute;
    bottom: 30px;
    left: 2px;

}

/* .background-hover:hover {
    display: block;    
    background-color: #F26522;
    width: 295px;
    height: 55px;

} */

.hover-text {
    display: flex;
  
    width: 300px;
    position: absolute;
    left: 2px;
    bottom: 10px;
    flex-direction: column;
}


#bckg:hover + div {
    display: block;    
    background-color: #F26522;
}

#bckg:hover + .hover-text {
    display: block;    
    background-color: #F26522; 
}

#bckg:hover + p {
    color: #F26522;
}


.from {
    font-family: Roboto;
    font-weight: 400; 
    font-size: 10px; 
    color: #fff; 
    display: flex;
    flex-direction: column;
    position: relative;
    left : 8px;
    top: 7px;
}
 .view-details {
    font-family: Roboto;
    font-weight: 400; 
    font-size: 14px; 
    color: #fff; 
    display: flex;
    align-self: end;
    position: relative;
    left: 30px;
    
 }

 .fifty {
    font-family: Roboto;
    font-weight: 400; 
    font-size: 20px; 
    color: #fff; 
    position: relative;
    left: 20px;
    top: 15px;;
 }

 .arrow {
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    margin-right: 60px;
    transform: rotate(45deg);
    position: relative;
    left: 16px;
    top: 3px;
}    

a {
    text-decoration: none;
}

header > div:hover {
    color: #F26522;
}
/* 
.orange-price-list {
    position: relative;
} */

